{
  "presets": ["@babel/typescript"],
  "plugins": [
    [
      "babel-plugin-static-fs",
      {
        "target": "browser",
        "dynamic": false
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
